

/* Landing */
.backGround {
    /* position: relative;
    width: 1440px;
    height: 1024px; */
    background: #F3F1DD;
}

body {
    background-color: #F3F1DD;
}

h {
    text-align: left;
    /* margin-top: -50%;
    margin-left: 15%;
    margin-right: 15%; */
    
    font-family: 'Nunito', sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    color: #000000;

    }

#text {
    margin-top: 15%;
    margin-left: 10%;

}

p {
    
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 57px;
    color: #000000;
    }

.top-line {
    display: grid; 
    justify-content: left;
    align-items: center;
    margin-left: 35%;

    
}

#one {
    margin-left:55%;
    margin-top:7%;
    grid-column: 1;
    grid-row: 1;
    width: 300px;
}

#two {
    margin-left:15%;
    margin-top:3%;
    grid-column: 1;
    grid-row: 1;
}

.three {
    grid-column: 2;
    grid-row: 1;
}

.backgroundBox {
    display: grid; 
}

.backBox {
    grid-column: 1;
    grid-row: 1;
    margin-top: 2%;
    margin-left:15%;
}

.friedgeWrapper {
    grid-column: 1;
    grid-row: 1;
    margin-top: 3%;

}

.about {
    grid-column: 1;
    grid-row: 1;
    width: 40%;
    margin-top: 5%;
    margin-left: 45%;

 }

.startButton {
    /* justify-content: center; */
    align-items: center;
    margin-top: -12%;
    margin-left: 20%;

}


.greenBtn {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    color: #FBFAEE;
    background: #7FB240;
    border: "none";
    border-radius: 30px;
    width: 200px;
    height: 55px;
}


